@extends('com.default')
@section('style')
<!--编辑器 start-->
<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
<link href="/css/froala_editor.min.css" rel="stylesheet" type="text/css">
<style>
    #editor {
        width: 80%;
        text-align: left;
    }
</style>
<!--编辑器 end-->

<style type="text/css">
    .cont-box{
        padding:0 20px;
        background: #FFFFFF;
        padding-bottom: 10px;
    }

    .input-width .el-input{width:284px;}
    .cont-box .el-textarea{width:360px;}
    .cont-box .el-radio__input.is-checked+.el-radio__label{color:#5a5e66;}

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 140px;
        height: 78px;
        line-height: 78px;
        text-align: center;
    }
    .avatar {
        width: 140px;
        height: 78px;
        display: block;
    }
</style>
@endsection
@section('content')
<div class="cont-box">
    <el-form :model="editForm" :rules="rules" ref="editForm" label-width="120px"   label-position="right">
        <div style="padding-top: 30px;">
            <h3></h3>
        </div>

        <el-form-item label="标题:" prop="title" :class="'input-width'" required>
            <el-input v-model="editForm.title" style="width:300px" maxlength="200"></el-input>
        </el-form-item>

        <el-form-item label="内容:" required>
            <section id="editor">
                <div id='edit' style="margin-top: 30px;">
                </div>
            </section>
        </el-form-item>

        <el-form-item label="封面图片:" required>
            <el-upload
                    name="must_be_random"
                    :data="{file_id:'must_be_random',module:'news'}"
                    class="avatar-uploader"
                    action="/common/file/upload"
                    :show-file-list="false"
                    :headers="uploadheaders"
                    :on-success="uploadFileSuccess"
                    :before-upload="beforeUploadFile">
                <img v-if="editForm.cover" :src="editForm.cover" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
            <div style="color:red;display:block">请上传16:9的图片，最大尺寸为1400*788px，格式为jpg，文件大小不超过300KB</div>
        </el-form-item>

        <el-form-item label="原文链接:" prop="link" >
            <el-input v-model="editForm.link" style="width:300px"></el-input>
        </el-form-item>

        <el-form-item label="类型:" prop="type"  required>
            <template>
                @foreach ($types as $v)
                <el-radio v-model="editForm.type" label="{{$v['id']}}">{{$v['name']}}</el-radio>
                @endforeach
            </template>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="submitForm('editForm', 0)">保 存</el-button>
            <el-button  @click="">预 览</el-button>
            <el-button type="danger" @click="submitForm('editForm', 1)">发 布</el-button>
        </el-form-item>

    </el-form>
</div>
@endsection
@section('script')
<!--编辑器 start-->
<!--script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script-->
<script src="/js/editor/libs/jquery-1.11.1.min.js"></script>
<script src="/js/editor/froala_editor.min.js"></script>
<!--[if lt IE 9]>
<script src="/js/editor/froala_editor_ie8.min.js"></script>
<![endif]-->
<script src="/js/editor/plugins/tables.min.js"></script>
<script src="/js/editor/plugins/lists.min.js"></script>
<script src="/js/editor/plugins/colors.min.js"></script>
<script src="/js/editor/plugins/media_manager.min.js"></script>
<script src="/js/editor/plugins/font_family.min.js"></script>
<script src="/js/editor/plugins/font_size.min.js"></script>
<script src="/js/editor/plugins/block_styles.min.js"></script>
<script src="/js/editor/plugins/video.min.js"></script>
<script src="/js/editor/langs/zh_cn.js"></script>
<script>
    $(function(){
        $('#edit').editable({
            language: "zh_cn",
            inlineMode: false,
            alwaysBlank: true,
            spellcheck: true,
            plainPaste: true,
            enableScript: false,
            imageUploadURL: '/common/file/uploadByEditor',//上传到本地服务器
            imageUploadParams: {file_id:'file',module:'news'},
            imageDeleteURL: '/common/file/delByEditor',//删除图片
            //imagesLoadURL: 'lib/load_images.php'//管理图片
            //height: '200px'
        }).on('editable.afterRemoveImage', function (e, editor, $img) {
            // Set the image source to the image delete params.
            editor.options.imageDeleteParams = {src: $img.attr('src')};
            // Make the delete request
            editor.deleteImage($img);
        }).on('editable.beforeImageUpload', function() {
            //上传图片前处理
        });
    });
</script>
<!--编辑器 end-->

<script>
var app = new Vue({
    el: '.content-box',
    data:{
        cityData:[],
        editForm: {title:'',link:'',id:'',type:'',cover:'',content:''},
        uploadheaders:'',

        rules:{
            title: [
                { required: true, message: '请输入标题', trigger: 'blur' },
                { min: 2, max: 200, message: '长度在 2 到 200 个字符', trigger: 'blur' }
            ],
            type: [
                { required: true, message: '请选择类型', trigger: 'blur' },
            ],
        },
    },
    created:function(){
        this.uploadheaders = {'X-CSRF-TOKEN':$('meta[name="csrf-token"]').attr('content')};
        var info = JSON.parse(JSON.stringify({!!$info!!}));
        //console.log(info);

        if(info && info.id){
            this.editForm = info;
        }else {
            this.editForm.link = '{!!$link!!}';
        }
    },
    
    methods: {
        submitForm:function(formName, status) {
            var self = this;
            self.$refs[formName].validate((valid) => {
                if (!valid) {
                self.$message.error('您的输入有错误，请检查');
                    return false;
                }
                console.log(self.editForm);
                if (self.editForm.cover==null || self.editForm.cover=='' || self.editForm.cover==undefined) {
                    self.$message.error('请上传封面图片');
                    return false;
                }

                var content = $("#edit .froala-element").eq(0)[0].innerHTML;
                self.editForm.content = content;
                /*if (!self.editForm.content) {
                }*/

                self.editForm.status = status;

                httpPost('/admin/contents/news/save',self.editForm,function(data){
                    if (data.code === 200){
                        self.$message.success("操作成功");
                    }else{
                        self.$message.error(data.msg);
                    }
                });
            });
        },
        resetForm:function(formName) {
            this.$refs[formName].resetFields();
        },
        uploadFileSuccess:function(res, file){
            if (res.code == 200){
                this.editForm.cover = res.data.url;
            }else{
                this.$message.error('上传失败');
            }
        },
        beforeUploadFile:function(file){
            const isJPG = file.type === 'image/jpeg';
            const isLt2M = file.size / 1024 / 1024 < 0.3;

            if (!isJPG) {
                this.$message.error('上传图片只能是 JPG 格式!');
            }
            if (!isLt2M) {
                this.$message.error('上传图片大小不能超过 300kb!');
            }
            return isJPG && isLt2M;
        },
    }
});
</script>
@endsection