@extends('com.default')
@section('style')
<!--编辑器 start-->
<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
<link href="/css/froala_editor.min.css" rel="stylesheet" type="text/css">
<style>
    body {
        text-align: center;
    }
    #editor {
        width: 80%;
        margin: auto;
        text-align: left;
    }
</style>
<!--编辑器 end-->

<style type="text/css">
    .cont-box{
        padding:0 20px;
        background: #FFFFFF;
        padding-bottom: 10px;
    }

    .input-width .el-input{width:284px;}
    .pic-uploader.hide-upload-btn .el-upload{
        display:none;
    }
    .cont-box .el-textarea{width:360px;}
    .cont-box .el-radio__input.is-checked+.el-radio__label{color:#5a5e66;}
</style>
@endsection
@section('content')
<div class="cont-box">
    <el-form :model="editForm" :rules="rules" ref="editForm" label-width="120px"   label-position="right">
        <div style="padding-top: 30px;">
            <h3></h3>
        </div>

        <el-form-item label="标题:" prop="title" :class="'input-width'" required>
            <el-input v-model="editForm.title" style="width:300px" maxlength="200"></el-input>
        </el-form-item>

        <el-form-item label="内容:" required>
            <section id="editor">
                <div id='edit' style="margin-top: 30px;">
                </div>
            </section>
        </el-form-item>

        <el-form-item label="封面图片:" required>
            <el-upload
              action="/common/file/upload"
              list-type="picture-card"
              name="must_be_random"
              :multiple="false"
              :limit=1
              accept="image/gif,image/jpeg,image/jpg,image/png,image/bmp"
              :before-upload="beforeUploadFile"
              :data="{file_id:'must_be_random',module:'banner'}"
              :on-preview="handlePictureCardPreview"
              :on-success="uploadFileSuccess"
              :show-file-list=false
              :headers="uploadheaders">
              <i class="el-icon-plus"></i>
            </el-upload>
            <el-dialog :visible.sync="dialogVisible" size="tiny">
              <img width="100%" :src="dialogImageUrl" alt="">
            </el-dialog>
            <p style="color:red;">请上传16:9的图片，最大尺寸为1400*788px，格式为jpg，文件大小不超过300KB</p>
        </el-form-item>
        <el-form-item>
            <ul class="el-upload-list el-upload-list--picture-card" v-for="(img,index) in fileList">
              <li class="el-upload-list__item is-success border"   @click="showImg(index)">
                    <img :src="img.url" alt="" class="el-upload-list__item-thumbnail">
                    <a class="el-upload-list__item-name"><i class="el-icon-document"></i>logo.png </a>
                    <label class="el-upload-list__item-status-label" :id="'s'+index"  style="display: none;">
                        <i class="el-icon-upload-success el-icon-check"></i>
                    </label>
                    <i class="el-icon-close"></i><!---->
                    <span class="el-upload-list__item-actions">
                        <span class="el-upload-list__item-preview"><i @click="handlePictureCardPreview(index)" class="el-icon-view"></i></span>
                        <span class="el-upload-list__item-delete"><i @click="handleRemove(index)" class="el-icon-delete"></i></span>
                    </span>
                </li>
            </ul>
        </el-form-item>

        <el-form-item label="原文链接:" prop="link" >
            <el-input v-model="editForm.link" style="width:300px"></el-input>
        </el-form-item>

        <el-form-item label="类型:" prop="type"  required>
            <template>
                @foreach ($types as $v)
                <el-radio v-model="editForm.type" label="{{$v['id']}}">{{$v['name']}}</el-radio>
                @endforeach
            </template>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="submitForm('editForm', 0)">保 存</el-button>
            <el-button  @click="">预 览</el-button>
            <el-button type="danger" @click="submitForm('editForm', 1)">发 布</el-button>
        </el-form-item>

    </el-form>
</div>
@endsection
@section('script')
<!--编辑器 start-->
<!--script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script-->
<script src="/js/editor/libs/jquery-1.11.1.min.js"></script>
<script src="/js/editor/froala_editor.min.js"></script>
<!--[if lt IE 9]>
<script src="/js/editor/froala_editor_ie8.min.js"></script>
<![endif]-->
<script src="/js/editor/plugins/tables.min.js"></script>
<script src="/js/editor/plugins/lists.min.js"></script>
<script src="/js/editor/plugins/colors.min.js"></script>
<script src="/js/editor/plugins/media_manager.min.js"></script>
<script src="/js/editor/plugins/font_family.min.js"></script>
<script src="/js/editor/plugins/font_size.min.js"></script>
<script src="/js/editor/plugins/block_styles.min.js"></script>
<script src="/js/editor/plugins/video.min.js"></script>
<script>
    $(function(){
        $('#edit').editable({inlineMode: false, alwaysBlank: true})
    });
</script>
<!--编辑器 end-->

<script>
var app = new Vue({
    el: '.content-box',
    data:{
        cityData:[],
        editForm: {name:'',link:'',id:'',type:'',fileList:''},
        dialogVisible:false,
        dialogImageUrl:'',
        uploaddheaers:'',
        fileList:[],
        key_index:0,
        
        rules:{
            title: [
                { required: true, message: '请输入标题', trigger: 'blur' },
                { min: 2, max: 200, message: '长度在 2 到 200 个字符', trigger: 'blur' }
            ],
            type: [
                { required: true, message: '请选择类型', trigger: 'blur' },
            ],
        },
    },
    created:function(){
        this.uploadheaders = {'X-CSRF-TOKEN':$('meta[name="csrf-token"]').attr('content')};
        var info = JSON.parse(JSON.stringify({!!$info!!}));
        //console.log(info);

        if(info && info.id){
            this.editForm = info;
            this.fileList = [];
            this.key_index = 0;
            if(info.filelists){
                this.fileList = info.filelists;
                this.afterUploadFile(); 
            }
        }else {
            this.editForm.link = '{!!$link!!}';
        }
    },
    
    methods: {
        submitForm:function(formName, status) {
            var self = this;
            self.$refs[formName].validate((valid) => {
                if (!valid) {
                self.$message.error('您的输入有错误，请检查');
                    return false;
                }

                self.editForm.fileList = self.fileList;
                console.log(self.editForm);
                if(!self.editForm.fileList){
                    self.$message.error('请上传封面图片');return ;
                }

                self.editForm.status = status;
                httpPost('/admin/contents/news/save',self.editForm,function(data){
                    if (data.code === 200){
                        self.$message.success("操作成功");
                    }else{
                        self.$message.error(data.msg);
                    }
                });
            });
        },
        resetForm:function(formName) {
            this.$refs[formName].resetFields();
        },
        uploadFileSuccess:function(res, file){
            if (res.code == 200){
                this.fileList.push({'url':res.data.url,name:'',link:'',type:"1"});   
                this.afterUploadFile();
            }else{
                this.$message.error('上传文件失败');
            }
        },
        beforeUploadFile:function(file){
            const isLt4M = file.size / 1024 / 1024 < 0.3;
            if (!isLt4M) {
              this.$message.error('上传图片大小不能超过 300KB!');
              return isLt4M;
            }
            const checkcount = this.fileList.length > 7;
            if(checkcount){
                this.$message.error('最多只能上传8张图片');
                return false;
            }
            return  true;
        },
        afterUploadFile:function(){
            this.$nextTick(function () {
                this.key_index = this.fileList.length - 1;
                if(this.key_index < 0){
                    this.key_index = 0;
                }
                $(".border").removeAttr("style");
                $("#s"+this.key_index).parent().css('border','3px #FF7940 solid');
                $(".el-upload-list__item-status-label").hide();
                $("#s"+this.key_index).show();
            });

          },
          handleRemove(index) {
            var self = this;
            this.$confirm('确定删除图片？', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消'
            }).then(function() {
                var filename = self.fileList[index].url;
                console.log(self.fileList);
                self.fileList.splice(index,1);
                // delete self.fileList[index];
                $.ajax({
                    url:'/admin/banner/del',
                    data:{filelist:self.fileList,is_delete:1,filename:filename,id:self.editForm.id},
                    type:'post',
                    beforeSend: function(request) {
                        request.setRequestHeader("X-CSRF-TOKEN",$('meta[name="csrf-token"]').attr('content'));
                    },
                    success:function(data){
                        if (data.code === 200){
                            self.$message.success("删除成功");
                            self.afterUploadFile();
                            // window.location.reload();
                        }else{
                            self.$message.error(data.msg);
                        }
                    }
                });
              }).catch(function (error) {
                console.log(error);
            });
          },

          handlePictureCardPreview(index) {
            this.dialogImageUrl = this.fileList[index].url;
            this.dialogVisible = true;

          },

          showImg:function(index){

            $(".el-upload-list__item-status-label").hide();
            $(".border").removeAttr("style");
            $("#s"+index).parent().css('border','3px #FF7940 solid');
            if($("#s"+index).is(':hidden')){
                $("#s"+index).show();
                this.key_index = index;
                this.editForm.name = this.fileList[index].name;
                this.editForm.link = this.fileList[index].link;
                this.editForm.type = this.fileList[index].type;
            }else{
                $("#s"+index).hide();
            }
            console.log(this.fileList.length);
          },
    }
});
</script>
@endsection