<el-dialog :title="dialogTitle" size="tiny" :visible.sync="editFormVisible" :close-on-click-modal="false">
    <el-form :model="editForm" ref="editForm2" label-width="80px" label-position="right">
        <el-form-item label="父菜单" prop="pid" required :rules="{required:true,message:'必须输入'}">
            <el-select v-model="editForm.pid" placeholder="请选择">
                <el-option v-for="item in p_menu" :key="item.id" :label="item.name" :value="item.id"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="菜单名称" prop="name" required :rules="{required:true,message:'必须输入'}">
            <el-input v-model="editForm.name" maxlength="20" placeholder="输入菜单名称"></el-input>
        </el-form-item>
        <el-form-item label="菜单链接" prop="link" :rules="{required:true,message:'必须输入'}">
            <el-input v-model="editForm.link" maxlength="64" placeholder="输入菜单链接"></el-input>
        </el-form-item>
        <el-form-item label="菜单标识" prop="flag">
            <el-input v-model="editForm.flag" maxlength="30" placeholder="输入菜单唯一标识"></el-input>
        </el-form-item>
        <el-form-item label="菜单图标" prop="icon">
            <el-input v-model="editForm.icon" maxlength="20" placeholder="输入菜单展示icon"></el-input>
        </el-form-item>
        <el-form-item label="菜单序号" prop="seq" required 
            :rules="[{required:true,message:'必须输入'}]">
            <el-input v-model="editForm.seq" maxlength="10" placeholder="输入菜单排序号，从小到大"></el-input>
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @click="closeEditForm">取 消</el-button>
        <el-button type="primary" @click="saveMenu">确 定</el-button>
    </div>
</el-dialog>