@extends('com.default')

@section('content')
<div class="lark-header">
    <el-form :inline="true" :model="searchForm" class="demo-form-inline">
        <el-form-item>
            <el-input v-model="searchForm.title" placeholder="新闻名称" style="width:300px"></el-input>
        </el-form-item>
        <el-form-item label="新闻类型">
            <el-select v-model="searchForm.type">
                <el-option label="全部" value=""></el-option>
                <el-option v-for="item in types" :label="item.name" :value="item.id"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" icon="search" @click="search">查询</el-button>
            <el-button @click="reset">重置</el-button>
        </el-form-item>
        <div class="right_btn_box">
            <el-button type="primary" icon="plus" @click="" style="float:left;">添加</el-button>
            <el-button type="primary" @click="" style="float:left;">显示</el-button>
            <el-button type="warning" @click="batchRemove" style="float:left;">删除</el-button>
        </div>
    </el-form>
</div>
<div class="lark-table">
    <el-table ref="multipleTable" :data="searchData.data" v-loading="data_loading" element-loading-text="loading" border style="width: 100%"
              @selection-change="handleSelectionChange">

        <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column prop="title" label="新闻名称" align="center" width="600"></el-table-column>
        <el-table-column prop="type" label="新闻类型" align="center">
            <template scope="scope">
                @{{types[scope.row.type].name}}
            </template>
        </el-table-column>
        <el-table-column prop="published" label="是否显示" align="center">
            <template scope="scope">
                <el-switch name="xxx" v-model="scope.row.status" @change="publish" :on-value="1" :off-value="0" width="58" on-text="是" off-text="否"></el-switch>
            </template>
        </el-table-column>
        <el-table-column prop="published" label="排序" align="center">
            <template scope="scope">
                <el-input v-model="scope.row.order"></el-input>
            </template>
        </el-table-column>
        <el-table-column label="操作" width="250" align="center">
            <template scope="scope">
                <el-button size="small" @click="">编辑</el-button>
                <el-button size="small" @click="remove(scope.row.id)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination @current-change="handleCurrentChange" :current-page="searchData.current_page"
      :page-size="searchData.per_page" layout="total, prev, pager, next, jumper" :total="searchData.total">
    </el-pagination>
</div>
@endsection
@section('script')
<script>
var vapp = new Vue({
    el: '.content-box',
    data:{
        searchForm: {title:'',type:''},
        searchData: {},
        data_loading: false,
        dialogTitle:'',
        multipleSelection:[],
        types: {!! json_encode($types) !!},
    },
    created:function(){
        this.csrf_token = {'X-CSRF-TOKEN':$('meta[name="csrf-token"]').attr('content')};
        this.search();
    },
    methods: {
        search: function(){
            var self = this;
            this.data_loading = true;
            httpPost('/news/lists',this.searchForm,function(data){
                self.data_loading = false;
                if (data.code === 200){
                    self.searchData = data.data;
                }else{
                    this.$message.error(data.msg);
                }
            });
        },
        handleCurrentChange: function(index){
            this.searchForm.current_page = index;
            this.search();
        },
        reset: function(){
            this.searchForm = {title:'',type:''};
            this.search();
        },
        publish:function(status){
            var me = $(this);
            var id = 111;
            var self = this;
            httpPost('/news/publish',{status:status, id:id},function(data){
                if (data.code==200){
                    alertMessages(self, 'success', '', data.msg);
                }else{
                    alertMessages(self, 'error', '', data.msg);
                    self.search();
                }
            });
        },
        remove:function(id){
            var self = this;
            this.$confirm('确定要删除？', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消'
            }).then(function() {
                httpPost('/news/remove',{id:id},function(data){
                    if (data.code === 200){
                        alertMessages(self, 'success', '', data.msg);
                        self.search();
                    }else{
                        alertMessages(self, 'error', '', data.msg);
                    }
                });
            }).catch(function(){});
        },
        batchRemove:function(){
            var self = this;
            var tableData = this.multipleSelection;
            var postArr = [];
            for (v in tableData) {
                postArr.push({'id':tableData[v].id});
            }
            var postData = JSON.stringify(postArr);
            //console.log(postData);
            this.$confirm('确定要删除所选条目？', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消'
            }).then(function() {
                httpPost('/news/batchRemove',{data:postData},function(data){
                    if (data.code === 200){
                        alertMessages(self, 'success', '', data.msg);
                        self.search();
                    }else{
                        alertMessages(self, 'error', '', data.msg);
                    }
                });
            }).catch(function(){});
        },
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
    }
});  
</script>
@endsection